<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="">AtlasMovies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="">Drama</a>
            <a class="nav-item nav-link" routerLink="">Romance</a>
            <a class="nav-item nav-link" routerLink="">Thriller</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" routerLink=""><i class="fas fa-shopping-cart"></i></a>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown">
                    <i class="fas fa-user-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="">Profile</a>
                    <a class="dropdown-item" routerLink="">Order History</a>
                </div>
            </div>
        </div>
    </div>
</nav>