<div>
    <form>
        <div class="form-group">
            <input [(ngModel)]="filterData.year" name="year" type="number" class="form-control">
        </div>
        <div class="form-group">
            <select multiple [(ngModel)]="filterData.genres" name="genres" class="form-control">
                <option *ngFor="let g of genreOptions"> {{g}} </option>
            </select>
        </div>
        <button class="btn btn-primary" type="button" (click)="applyFilter()">
                        Go
                 <div [ngClass]="{'d-none':ds.display!=true}" class="spinner-border" ></div>
            </button>
        
    </form>
</div>